{% load static %}

<!-- ===============================================-->
<!--    JavaScripts START -->
<!-- ===============================================-->
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src='{% static "falcon/vendors/popper/popper.min.js" %}'></script>
<script src='{% static "falcon/vendors/bootstrap/bootstrap.min.js" %}'></script>
<script src='{% static "falcon/vendors/anchorjs/anchor.min.js" %}'></script>
<script src='{% static "falcon/vendors/is/is.min.js" %}'></script>
<script src='{% static "falcon/vendors/echarts/echarts.min.js" %}'></script>
<script src='{% static "falcon/vendors/fontawesome/all.min.js" %}'></script>
<script src='{% static "falcon/vendors/lodash/lodash.min.js" %}'></script>
<script src='{% static "falcon/vendors/list.js/list.min.js" %}'></script>
<script src='{% static "falcon/assets/js/theme.js" %}'></script>
<script src='{% static "falcon/vendors/prism/prism.js" %}'></script>
<!-- Chart Js -->
<script src='{% static "falcon/vendors/chart/chart.min.js" %}'></script>
{# vue@2.6.14 #}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
{# axios #}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{# axios js #}
<script src='{% static "js/axios_form_01" %}'></script>
<!-- ===============================================-->
<!--    JavaScripts END -->
<!-- ===============================================-->