{% extends "base/base.html" %}
{% block content %}
{% load static %}

<div class="row">
	<div class="col-sm-6 offset-sm-3">
		<form action="" method="post" enctype="multipart/form-data">
			<h4>アップロードするファイルを選択</h4>
			{% csrf_token %}
			<div class="form-group">
				{{ form.file }}
			</div>
			<button type="submit" class="btn btn-primary">実行</button>
		</form>
	</div>
</div>

{% for company_dict in company_list %}

<p>

{% for k,v in company_dict.items %}

{% for title in title_list %}

{% if title == k %}

<div>
	{{k}}:{{v}}
</div>

{% endif %}

{% endfor %}

{% endfor %}

</p>

{% endfor %}




{% endblock %}